.account__menu_item {
    margin-left: 3rem;
}

.account__menu--list {
    cursor: auto;
}

.link_detail_order {
    color: var(--secondary-color);
}

.modal.show {
    z-index: 1060;
    visibility: visible;
    opacity: 1;
}